body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
}

a:link, a:visited{
  color:#000000;
  text-decoration: none;
}

#header {
  z-index: 2;
  top: 0; 
  /*margin-left: 5%;
  margin-right: 5%;*/
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%; /* Full width */
}

#myname {
  margin: 0px;
  text-align: center; /* Centered text */
  font-size: 90px; /* Big font size */ 
  font-weight: bold; 
  padding: 500px 30% 20px; /* Some padding */
  color: black;
  text-align: center; /* Centered text */
  font-size: 30px; /* Big font size */ 
  /*box-shadow: 0px 4px 8px black;*/
  font-weight: bold; 
  background-image: url("photos/IMG_0796.JPG");
  background-size: 100%;
  background-position-y: 20%;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 5px 30% 5px;
  background-image: url("photos/IMG_0796.JPG");
  background-size: 100%;
  background-position-y: -620px;
  text-align: center; /* Centered text */
  font-style: white;
  font-size: 30px; /* Big font size */ 
  /*box-shadow: 0px 4px 8px black;*/
  font-weight: bold; 
}

.pars{
  z-index: 1;
  margin-top: 600px;
  margin-left: 6%;
  margin-right: 6%;
  width: 88%; /* Full width */
  font-size:30px;
}